body{
    max-width: 500px;
    background-color: #ffffff;
    margin: auto;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}
table{
    margin-top: 40px;
}
span{
    font-size: small;
    color: #7c7c7c;
}
tr{
    height: 60px;
}
tr:first-child{
    width: 20%;
}
tr:last-child{
    width: 20%;
}
td{
    padding-right: 20px;
    /*padding-top: 17px;*/
}
p{
    color: #616161;
}